@{
ViewBag.Title = "Index";
}
<h3>LedgerMaster</h3>
<div>
<table id="jqGrid"></table>
<div id="jqControls"></div>
</div>
@section scripts{
<script src="~/Scripts/JqGrids/LedgerMasterGrid.js"></script>
}
